@import "main/text.css";
@import "main/anim.css";
@import "main/comp.css";
@import "main/util.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-main: system-ui, -apple-system, inter, sans-serif;
  --dark-text: #3c3c4c;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
}

.page {
  min-height: 500px;
}
